In [ ]:
--crear base de datos

CREATE DATABASE uni;

In [ ]:
--crear tabla Estudiante y insertar datos

use uni;
CREATE TABLE Estudiante (
    ID_Std INT(11) NOT null AUTO_INCREMENT PRIMARY KEY,
    Nombres VARCHAR(60),
    Apellidos VARCHAR(60),
    fecha_n DATE,
);

--insertar datos

INSERT INTO Estudiante (Nombres, Apellidos, fecha_n)VALUES
('Carlos', 'López', '1999-10-22'),
('María', 'Rodríguez', '2001-03-08');

In [ ]:
--crear tabla Curso y insertar datos 

use uni;
CREATE TABLE Curso (
    ID_Curso INT(11) not null auto_increment PRIMARY KEY,
    Nombre_curso VARCHAR(60)
    creditos  VARCHAR(3)
    descripcion  VARCHAR(300)
);

insertar valor 

INSERT INTO Curso (Nombre_curso, creditos, descripcion) VALUES
('Programación', '3', 'Curso de programacion.'),
('Matemáticas', '4', 'curso de matematicas.');

In [ ]:
--crear tabla Inscripcion y relacionarla con la tabla Estudiante y Curso 

CREATE TABLE Inscripcion (
    ID_Inscripcion INT PRIMARY KEY AUTO_INCREMENT,
    ID_Std INT,
    ID_Curso INT,
    Fecha_Inscripcion DATE,
    FOREIGN KEY (ID_Std) REFERENCES Estudiante(ID_Std),
    FOREIGN KEY (ID_Curso) REFERENCES Curso(ID_Curso)
);